.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 160px;
  padding-bottom: 80px;
}

.form-check {
  max-width: 920px;
  width: 100%;
}

.form-check input {
  max-width: 444px;
  width: 100%;
  height: 56px;
  padding: 2px 24px 0px;
  background: #FAF8F6;
  border-radius: 12px;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 25px;
}

.form-check input::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 25px;
}

.form-check input::-moz-placeholder {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 25px;
}

.form-check input:-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 25px;
}

.form-check input::-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 25px;
}

.form-check input::placeholder {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 25px;
}

.form-check input:focus {
  outline-color: #FF7D4E;
}

.form-check label {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 5px;
}

.form-check__delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 42px 0px;
  margin-bottom: 10px;
}

.form-check__delivery > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 444px;
  width: 100%;
  margin-bottom: 30px;
}

.form-check__delivery > *.form-check__two-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -7px;
}

.form-check__delivery > *.form-check__two-items > * {
  max-width: 206px;
  width: 100%;
}

.form-check__biling .button {
  max-width: 444px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-check__biling form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0px;
}

.form-check__biling form > * {
  max-width: 206px;
  width: 100%;
}

.form-check__biling form > *:first-child {
  max-width: 444px;
}

.form-check__biling form input {
  margin-top: 3px;
}

.goods-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 444px;
  width: 100%;
  padding: 39px 39px 37px;
  margin-top: 69px;
  border: 1px solid #E6E6E6;
  border-radius: 16px;
}

.goods-check__items {
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1882352941);
}

.goods-check .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goods-check__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 19px;
}

.goods-check__item:not(:last-child) {
  margin-bottom: 16px;
}

.goods-check__item picture {
  margin-right: 20px;
}

.goods-check__item p {
  max-width: 190px;
  width: 100%;
  font-family: "Effra";
  font-size: 16px;
  line-height: 19px;
}

.goods-check__item span {
  margin-left: auto;
}

.goods-check__price {
  padding: 40px 0px 36px;
}

.goods-check__price span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.goods-check__price span p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
}

.goods-check__price span:last-child {
  margin-bottom: 0px;
}

.goods-check__price span:last-child p {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

@media (min-width: 768.1px) {
  .form-check__biling .button {
    display: none;
  }
}

@media (max-width: 768px) {
  .checkout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 125px;
    padding-bottom: 72px;
  }

  .checkout__form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .checkout__goods {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .form-check h4 {
    text-align: left;
  }

  .form-check__delivery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 33px 0px;
    margin-bottom: 4px;
  }

  .form-check__delivery > * {
    margin-bottom: 26px;
  }

  .form-check__delivery > *.form-check__two-items {
    margin-top: -2px;
  }

  .form-check__delivery > *.form-check__two-items > * {
    max-width: 47%;
    width: 100%;
  }

  .form-check__biling {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form-check__biling form {
    max-width: 444px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px 44px;
  }

  .form-check__biling form > * {
    max-width: 47%;
  }

  .form-check__biling form > *:first-child {
    margin-bottom: 23px;
  }

  .goods-check {
    border: 0px solid #E6E6E6;
    padding: 0px 0px 54px;
  }

  .goods-check .button {
    display: none;
  }

  .goods-check__items {
    padding-bottom: 25px;
  }

  .goods-check__item {
    font-size: 14px;
    line-height: 17px;
  }

  .goods-check__item:not(:last-child) {
    margin-bottom: 12px;
  }

  .goods-check__item p {
    font-size: 14px;
    line-height: 17px;
  }

  .goods-check__price {
    padding: 32px 0px 36px;
  }

  .goods-check__price span {
    margin-bottom: 34px;
  }

  .goods-check__price span p {
    font-size: 14px;
    line-height: 19px;
  }

  .goods-check__price span:last-child p {
    font-size: 16px;
    line-height: 22px;
  }
}