.main-window {
  position: relative;
  height: 100vh;
}

.main-window__container {
  position: relative;
  z-index: 2;
}

.main-window__bg-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50vw;
  height: 100%;
  background: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.main-window__bg-right .decor__circle {
  width: 523px;
  aspect-ratio: 1/1;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.main-content__text {
  max-width: 600px;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translate(0, -6px);
      -ms-transform: translate(0, -6px);
          transform: translate(0, -6px);
}

.main-content__text h1 {
  margin-bottom: 34px;
}

.main-content__text h1 span {
  color: #FF7D4E;
}

.main-content__image {
  position: absolute;
  top: 129px;
  right: -187px;
}

.main-content__links {
  margin-top: 52px;
}

.main-content__links .button {
  margin-right: 28px;
}

.healthy {
  position: relative;
  height: 100vh;
}

.healthy__container {
  position: relative;
  z-index: 2;
}

.healthy__bg-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50vw;
  height: 100%;
  background: #8172DD;
  z-index: 1;
}

.no-webp .healthy__bg-left_img {
  background: url("../img/healthy_bg.png") center/cover no-repeat; }

.healthy__bg-left_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.healthy-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.healthy-content__text {
  max-width: 560px;
  width: 100%;
  -webkit-transform: translate(0, -23px);
      -ms-transform: translate(0, -23px);
          transform: translate(0, -23px);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
}

.healthy-content__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 103px;
}

.healthy-content__icons {
  max-width: 639px;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translate(0, -11px);
      -ms-transform: translate(0, -11px);
          transform: translate(0, -11px);
}

.healthy-content__icons > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.healthy-content__icons > * h5 {
  max-width: 444px;
  width: 100%;
  margin-left: auto;
}

.healthy-content__icons > *:not(:last-child) {
  margin-bottom: 108px;
}

.vitamins-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0, -101px);
      -ms-transform: translate(0, -101px);
          transform: translate(0, -101px);
  z-index: 2;
}

.vitamins-img picture:first-child {
  -webkit-transform: translate(0, -177px);
      -ms-transform: translate(0, -177px);
          transform: translate(0, -177px);
  z-index: 2;
}

.vitamins-img picture:first-child:hover {
  -webkit-transform: scale(1.1) translate(0, -177px);
      -ms-transform: scale(1.1) translate(0, -177px);
          transform: scale(1.1) translate(0, -177px);
  z-index: 3;
}

.vitamins-img picture:last-child {
  -webkit-transform: translate(-54px, 0);
      -ms-transform: translate(-54px, 0);
          transform: translate(-54px, 0);
  z-index: 1;
}

.vitamins-img picture:last-child:hover {
  -webkit-transform: scale(1.1) translate(-54px, 0);
      -ms-transform: scale(1.1) translate(-54px, 0);
          transform: scale(1.1) translate(-54px, 0);
  z-index: 3;
}

.vitamins-img picture {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.yourself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 41px 0px 150px;
  max-width: 919px;
  width: 100%;
  text-align: center;
}

.yourself__pic {
  margin-bottom: 49px;
}

.yourself__title {
  margin-bottom: 29px;
}

.yourself .button {
  margin-top: 53px;
}

.choose-prod {
  position: relative;
  height: 825px;
}

.choose-prod__content {
  position: relative;
  z-index: 2;
}

.choose-prod__bg-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50vw;
  height: 100%;
  background: #E99478;
  z-index: 1;
}

.choose-prod__bg-right picture {
  position: absolute;
  bottom: -38.5%;
  right: 50%;
  -webkit-transform: translate(55.8%, 0);
      -ms-transform: translate(55.8%, 0);
          transform: translate(55.8%, 0);
}

.choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose__slider {
  max-width: 830px;
  width: 100%;
  margin-right: auto;
  margin-left: 0px;
  margin-top: 151px;
}

.choose__slide {
  width: 400px !important;
  height: 494px;
  border-radius: 16px;
  padding: 61px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans";
  color: #FFFFFF;
}

.choose__slide picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 44px;
}

.choose__slide span {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 13px;
}

.choose__slide p {
  font-size: 16px;
  line-height: 163.42%;
  margin-top: 18px;
}

.choose__slide_green {
  background: #89D4A7;
}

.choose__slide_purple {
  background: #9C91E0;
}

.choose__text {
  max-width: 444px;
  width: 100%;
  margin-left: auto;
  color: #FFF;
  margin-top: 234px;
}

.choose__text h1 {
  margin-bottom: 30px;
}

.choose__text a {
  display: block;
  margin: 34px 0px 0px 5px;
}

.customer {
  padding: 50px 0px;
}

.customer > *:not(img) {
  max-width: 650px;
  width: 100%;
}

.customer img {
  margin-bottom: 31px;
}

.customer h1 {
  margin-bottom: 30px;
}

.webp .healthy__bg-left_img { background: url(../img/healthy_bg.webp) center/cover no-repeat; }